.contenedor{
    width: 95%;
    margin: auto;
 
 }
 table{
     width: 100%;
     border-collapse: collapse;
 }
 tr, td ,th{
     border: 1px solid black;
 }
 
 .fila_par{
     background-color: rgb(17, 0, 150);
     color: white;
 }
 
 .fila_impar{
     background-color: rgb(17, 150, 150);
 }
 .encabezado{
     background-color: #ce4813;
     color: white;
     
 }
 .fila_par:hover, .fila_impar:hover{
     background-color: #0767e4;
     color: white;
 }